// La barre de menu et l'écran de chargement aux couleurs Cultiveau.
.o_main_navbar {
    background-color: #183840;
    border-bottom-color: #0b8aa3;
}
.o_main_navbar .o_menu_brand, .o_main_navbar .o_navbar_apps_menu .dropdown-toggle {
    color: #ffffff;
}
